stages:
  - build
  - publish
  - sync

build_website:
  stage: build
  image: python:3.14-bookworm
  before_script:
    - pip install -r requirements.txt
  script:
    - mkdocs build --strict
  artifacts:
    paths:
      - "site/"
    expire_in: "30 minutes"
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH # Run for all changes to the default branch

copy_static_files:
  stage: publish
  image: instrumentisto/rsync-ssh:alpine
  # image: python:3.9-bookworm
  before_script:
    - eval $(ssh-agent -s)
    - chmod 400 "$SSH_PRIVATE_KEY"
    - ssh-add "$SSH_PRIVATE_KEY"
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - cp "$SSH_KNOWN_HOSTS" ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
  script:
    - rsync -ah --delete --progress site/ $SSH_HOST:/
  dependencies:
    - "build_website"
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH # Run for all changes to the default branch

sync_to_github:
  stage: sync
  image: alpine/git:latest
  only:
    - master
    - tags
  script:
    # Configure git
    - git config --global user.email "renovate@nmaas.eu"
    - git config --global user.name "GitLab CI"
    
    # Add GitHub as a remote (using SSH)
    - mkdir -p ~/.ssh
    - echo "$GITHUB_SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - ssh-keyscan github.com >> ~/.ssh/known_hosts
    - git remote add github git@github.com:nmaas-platform/nmaas-docs.git || git remote set-url github git@github.com:nmaas-platform/nmaas-docs.git
    
    # Fetch all branches and tags from origin
    - git fetch origin
    
    # Push master branch if this is a master branch build
    - |
      if [ "$CI_COMMIT_BRANCH" = "master" ]; then
        echo "Syncing master branch to GitHub..."
        git push github origin/master:master --force-with-lease
      fi
    
    # Push all tags if this is a tag build
    - |
      if [ -n "$CI_COMMIT_TAG" ]; then
        echo "Syncing tag $CI_COMMIT_TAG to GitHub..."
        git push github $CI_COMMIT_TAG
      fi
    
    # Optionally: Push all tags periodically
    - |
      if [ "$CI_COMMIT_BRANCH" = "master" ]; then
        echo "Syncing all tags to GitHub..."
        git push github --tags
      fi
  
  variables:
    GIT_STRATEGY: clone
    GIT_DEPTH: 0  # Full clone to get all history and tags