site_name: nmaas Documentation
site_url: 'https://docs.nmaas.eu'
nav:
  - Home: index.md
  - What is nmaas?: 'what-is-nmaas.md'
  - Get Started: 'get-started.md'
  - Managed nmaas:
    - Introduction: 'managed-nmaas/introduction.md'
    - nmaas Playground Instance: 'managed-nmaas/nmaas-playground-instance.md'
    - User Information: 
      - 'New VNOC Infrastructure': 'managed-nmaas/user-information/new-vnoc-infrastructure.md'
  - Self-Hosted nmaas:
    - Introduction: 'self-hosted-nmaas/introduction.md'
    - Installation Guide: 'self-hosted-nmaas/install-guide.md'
  - nmaas Portal Guides:
    - Introduction: 'guides/introduction.md'
    - Application Manager Guide: 'guides/application-manager-guide.md'
    - Domain Admin Guide: 'guides/domain-admin-guide.md'
    - User Guide: 'guides/user-guide.md'
  - nmaas Use-Cases:
    - Virtual NOC:
      - Introduction: 'use-cases/virtual-noc/vnoc-introduction.md'
    - Virtual Lab:
      - Introduction: 'use-cases/virtual-lab/vlab-introduction.md'
      - Bulk Domain Deployment: 'use-cases/virtual-lab/bulk-domain-deployment.md'
      - Domain Groups: 'use-cases/virtual-lab/domain-groups.md'
      - Bulk Application Deployment: 'use-cases/virtual-lab/bulk-application-deployment.md'
  - nmaas Tutorials and Workshops:
    - Introduction: 'tutorials-workshops/introduction.md'
    - Deploying a Local Kubernetes Cluster: 'tutorials-workshops/deploying-local-kubernetes-cluster.md'
    - Deploying an nmaas Test Instance: 'tutorials-workshops/deploying-nmaas-test-instance.md'
    - All-in-one nmaas VM image: 'tutorials-workshops/all-in-one-vm-image.md'
    - JRES 2022:
      - Introduction: 'tutorials-workshops/jres2022/introduction.md'
      - Demo Network Environment: 'tutorials-workshops/jres2022/p3_demo-network-environment.md'
      - Monitoring the Demo Network Environment: 'tutorials-workshops/jres2022/p4_monitoring-demo-network-environment.md'
      - Adding a Custom Application: 'tutorials-workshops/jres2022/p5_adding_custom_app.md'
      - Appendix - Credentials: 'tutorials-workshops/jres2022/appendix.md'
    - JRES 2024:
      - Introduction: 'tutorials-workshops/jres2024/introduction.md'
      - Bulk Domain Deployment: 'tutorials-workshops/jres2024/p1_vlab-bulk-registration.md'
      - Domain Groups Customization: 'tutorials-workshops/jres2024/p2_domain-groups-customization.md'
      - Deploying the First Application: 'tutorials-workshops/jres2024/p3_deploying-the-first-app.md'
      - Complete Web Development vLAB Scenario: 'tutorials-workshops/jres2024/p4_complete-web-dev-vlab-scenario.md'
      - Bulk Application Deployment: 'tutorials-workshops/jres2024/p5_vlab-bulk-app-deployment.md'
  - nmaas Applications:
    - General Application Deployment: 'nmaas-applications/general-app-deployment.md'
    - List of Supported Applications: 'nmaas-applications/application-list.md'
    - Adding a New Application: 'nmaas-applications/new-application.md'
    - Application Deployment Tutorials:
      - Oxidized: 'nmaas-applications/tutorials/oxidized.md'
      - LibreNMS: 'nmaas-applications/tutorials/librenms.md'
      - NAV: 'nmaas-applications/tutorials/nav.md'
      - Prometheus: 'nmaas-applications/tutorials/prometheus.md'
      - Grafana: 'nmaas-applications/tutorials/grafana.md'
      - Bastion: 'nmaas-applications/tutorials/bastion.md'
      - Booked: 'nmaas-applications/tutorials/booked.md'
      - Debian Repository: 'nmaas-applications/tutorials/debian-repository.md'
      - SPA Inventory: 'nmaas-applications/tutorials/spa-inventory.md'
      - PerfSONAR:
        - psConfig Web Admin: 'nmaas-applications/tutorials/psconfig-web-admin.md'
        - MaDDash: 'nmaas-applications/tutorials/maddash.md'
        - Esmond: 'nmaas-applications/tutorials/esmond.md'
        - perfSONAR Central Management: 'nmaas-applications/tutorials/perfsonar-central-management.md'
      - InfluxDB: 'nmaas-applications/tutorials/influxdb.md'
      - Jenkins: 'nmaas-applications/tutorials/jenkins.md'
      - ELK Stack: 'nmaas-applications/tutorials/elk-stack.md'
      - WiFiMon: 'nmaas-applications/tutorials/wifimon.md'
      - Icinga2: 'nmaas-applications/tutorials/icinga2.md'
      - Victoria Metrics: 'nmaas-applications/tutorials/victoria-metrics.md'
      - Synapse: 'nmaas-applications/tutorials/synapse.md'
      - Routinator: 'nmaas-applications/tutorials/routinator.md'
      - CodiMD: 'nmaas-applications/tutorials/codimd.md'
      - WebDAV: 'nmaas-applications/tutorials/webdav.md'
      - Uptime Kuma: 'nmaas-applications/tutorials/uptime-kuma.md'
      - Netbox: 'nmaas-applications/tutorials/netbox.md'
      - Zabbix: 'nmaas-applications/tutorials/zabbix.md'
      - SPA: 'nmaas-applications/tutorials/spa.md'
      - MailDev: 'nmaas-applications/tutorials/maildev.md'
      - ChangeDetection.io: 'nmaas-applications/tutorials/changedetectionio.md'
      - GP4L Orchestrator: 'nmaas-applications/tutorials/gp4l-orchestrator.md'
      - Apache Airflow: 'nmaas-applications/tutorials/apache-airflow.md'
  - Blog:
    - nmaas-101 - "Hello nmaas!": 'blog/blog1/nmaas-101-1.md'
    - nmaas-101 - "I can help! But... Please could you open these two doors?": 'blog/blog2/nmaas-101-2.md'
    - nmaas-101 - "My name is Oxidized and I'm a nifty configuration management tool": 'blog/blog3/nmaas-101-3.md'
    - nmaas-101 - "Prometheus" : 'blog/blog4/nmaas-101-4.md'
  - Release Notes:
    - '1.6.2': 'release-notes/1.6.2.md'
    - '1.6.1': 'release-notes/1.6.1.md'
    - '1.6.0': 'release-notes/1.6.0.md' 
    - '1.5.4': 'release-notes/1.5.4.md' 
  - nmaas Presentations: 'nmaas-presentations.md'
  - FAQ: faq.md
  - Contact: contact.md
  - About: about.md

theme:
  logo: 'img/nmaas_white_text.png'
  custom_dir: docs/overrides
  favicon: 'img/favicon.ico'
  name: 'material'
  palette:
    scheme: default
    primary: 'black'
    accent: 'light-blue'
  features:
    - content.code.copy
    - navigation.footer

extra_css:
  - 'css/extra.css'

copyright: >
  <a href="#__consent">Change cookie settings</a>

extra:
  generator: true
  search:
    language: 'en'
    tokenizer: '[\s\-\.]+'
  analytics:
    provider: google
    property: G-ZXZHTYVKN9
  consent:
    title: Cookie Consent
    description: >- 
      We use cookies to recognize your repeated visits and preferences, as well
      as to measure the effectiveness of our documentation and whether users
      find what they're searching for. With your consent, you're helping us to
      make our documentation better.

markdown_extensions:
  - pymdownx.snippets:
        base_path: ['docs/guides/reference/snippets','.']
        check_paths: true
  - pymdownx.highlight:
        linenums: true
        anchor_linenums: true
        line_spans: __span
        pygments_lang_class: true
  - pymdownx.superfences
  - pymdownx.tabbed:
        alternate_style: true
  - admonition
  - codehilite
  - footnotes
  - meta
  - toc:
      permalink: false
  - pymdownx.arithmatex
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.inlinehilite
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - tables
  - attr_list
  - md_in_html

plugins: 
  - search
  - glightbox
  - mkdocs-video