site_name: NMaaS Documentation
nav:
  - Home: index.md
  - What is NMaaS?: 'what-is-nmaas.md'
  - Managed NMaaS:
    - Introduction: 'managed-nmaas/introduction.md'
    - NMaaS Instances: 'managed-nmaas/nmaas-instances.md'
  - Self-Hosted NMaaS:
    - Introduction: 'self-hosted-nmaas/introduction.md'
    - Quick Start: 'self-hosted-nmaas/quick-start.md'
    - Production Installation Guide: 'self-hosted-nmaas/install-guide.md'
    - Local Development Environment:
      - Introduction: 'self-hosted-nmaas/local-dev-environment/introduction.md'
      - Part 1 - Deploying a Local Kubernetes Cluster: 'self-hosted-nmaas/local-dev-environment/p1_local-kubernetes-cluster.md'
      - Part 2 - Installing NMaaS: 'self-hosted-nmaas/local-dev-environment/p2_installing-nmaas.md'
      - Part 3 - Demo Network Environment: 'self-hosted-nmaas/local-dev-environment/p3_demo-network-environment.md'
      - Part 4 - Monitoring the Demo Network Environment: 'self-hosted-nmaas/local-dev-environment/p4_monitoring-demo-network-environment.md'
      - Part 5 - Adding a Custom Application: 'self-hosted-nmaas/local-dev-environment/p5_adding_custom_app.md'
      - Appendix - Credentials: 'self-hosted-nmaas/local-dev-environment/appendix.md'
  - NMaaS Use-Cases:
    - Virtual Lab:
      - Introduction: 'use-cases/virtual-lab/vlab-introduction.md'
  - NMaaS Applications:
    - List of Supported Applications: 'nmaas-applications/application-list.md'
    - Adding a New Application: 'nmaas-applications/new-application.md'
    - Application Deployment Tutorials:
      - LibreNMS: 'nmaas-applications/tutorials/librenms.md'
      - Booked: 'nmaas-applications/tutorials/booked.md'
      - Uptime Kuma: 'nmaas-applications/tutorials/uptime-kuma.md'
      - MailDev: 'nmaas-applications/tutorials/maildev.md'
      - ChangeDetection.io: 'nmaas-applications/tutorials/changedetectionio.md'
  - Blog:
    - NMaaS-101 - "Hello NMaaS !": 'blog/blog1/nmaas-101-1.md'
    - NMaaS-101 - "I can help! But... Please could you open these two doors?": 'blog/blog2/nmaas-101-2.md'
    - NMaaS-101 - "My name is Oxidized and I'm a nifty configuration management tool": 'blog/blog3/nmaas-101-3.md'
  - FAQ: faq.md
  - Contact: contact.md
  - About: about.md

theme:
  logo: 'img/NMaaS-logo-transparent-white.png'
  custom_dir: docs/overrides
  favicon: 'img/favicon.ico'
  name: 'material'
  palette:
    scheme: default
    primary: 'black'
    accent: 'light-blue'
  features:
    - content.code.copy
    - navigation.footer

extra_css:
  - 'css/extra.css'

copyright: >
  <a href="#__consent">Change cookie settings</a>

extra:
  generator: true
  search:
    language: 'en'
    tokenizer: '[\s\-\.]+'
  analytics:
    provider: google
    property: G-ZXZHTYVKN9
  consent:
    title: Cookie Consent
    description: >- 
      We use cookies to recognize your repeated visits and preferences, as well
      as to measure the effectiveness of our documentation and whether users
      find what they're searching for. With your consent, you're helping us to
      make our documentation better.

markdown_extensions:
  - pymdownx.snippets:
        base_path: ['docs/guides/reference/snippets','.']
        check_paths: true
  - pymdownx.highlight:
        linenums: true
        anchor_linenums: true
        line_spans: __span
        pygments_lang_class: true
  - pymdownx.superfences
  - pymdownx.tabbed:
        alternate_style: true
  - admonition
  - codehilite
  - footnotes
  - meta
  - toc:
      permalink: false
  - pymdownx.arithmatex
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:pymdownx.emoji.to_svg
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.inlinehilite
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - tables
  - attr_list
  - md_in_html

plugins: 
  - search
  - glightbox