@font-face {
    font-family: Airlock;
    src: url('fonts/airlock.ttf');
    /*src: url('css/airlock.ttf'); **/
}

span.md-header-nav__topic {
  font-family: Airlock;
}
article ul ul {
        list-style-type:  circle !important;
}

article ul ul ul {
        list-style-type:  square !important;
}

.nextWrapper {
	position: relative;
	/*padding-bottom: 56.25%; /* 16:9 */
	/*padding-bottom: 69.325%;*/
	padding-bottom: 100%;
	padding-top: 25px;
	height: 100%;
}
.nextWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.custom-bar {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: #edeef3;
	padding: 10px;
	text-align: center;
	font-size: 16px;
	color: #333;
	box-shadow: 0 3px 8px #00000030;
	gap: 15px;
}

.custom-bar a {
	height: 100%;
	display: flex;
	align-items: center;
	margin-left: 5px;
	color: #5865F2;
}

:root>* {
	--md-primary-fg-color: #152a51;
	--md-footer-bg-color: #152a51;
	--md-footer-bg-color--dark: #152a51;
}
